body {
  font-family: Segoe UI, Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

/* NAVBAR UNGU */
.navbar {
  background: #6a1b9a; /* Purple */
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.nav-right {
  float: right;
  font-weight: normal;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* BUTTONS */
.btn {
  background: #6a1b9a; /* Purple */
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.btn.green {
  background: #2e7d32;
}

.btn.red {
  background: #4a148c; /* Dark Purple */
}

/* SMALL BUTTONS */
.btn.small {
  font-size: 13px;
  padding: 5px 8px;
}

/* SEARCH INPUT */
.search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search button {
  background: #6a1b9a; /* Purple */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f2f2f2;
}

tr.alt {
  background: #f7f7f7;
}

/* PAGINATION */
.pagination {
  margin-top: 15px;
}

.page {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-decoration: none;
  margin-right: 5px;
  border-radius: 4px;
  color: #333;
  background: white;
}

.page.active {
  background: #6a1b9a; /* Purple */
  color: white;
}
